
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1 class="text-center">Hoşgeldiniz</h1>
<br />

<div class="container">
    <form class="form-group" method="post">
        <div class="row">
            <div class="col-4">
                <input type="text" placeholder="Kategori Ad" name="CategoryName" class="form-control" />
            </div>

            <div class="col-4">
                <input type="text" placeholder="Kategori Ad" name="CategoryDescription" class="form-control" />
            </div>

            <div class="col-4">
                <select class="form-control form-select" name="CategoryStatus">
                    <option value="True">Aktif</option>
                    <option value="False">Pasif</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="text-center mt-5">
                <button class="btn btn-outline-success" type="submit">Ekle</button>
            </div>
        </div>
    </form>
</div>